#parent{
    width: 50%;
    margin: auto;
    height: auto;
    margin-top: 90px;
    background-color:#fcfafa;
    padding: 15px;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
    border-radius: 20px;
    
}
.child-1{
    text-align: center;
    font-family: 'Poppins', sans-serif;
    width: 100%;
    margin: auto;
    background-color: #6e71cc;
    color:#ffdb66;
    padding: 1px;
    border-radius: 15px;
}
#chid{
    text-align: center;
    font-family: 'Open Sans', sans-serif;
    width: 80%;
    margin: auto;
}
#flex {
    display: flex;
    justify-content: center;
    justify-content: space-evenly;
}
.para {
    font-family: 'Poppins', sans-serif;
    font-size: 18px;
    color:#ffdb66;
    background-color: #1a9fbd;
    padding: 20px;
    border-radius: 15px;

}

.input {
    height: 30px;
    width: 250px;
    margin-left: 25px;
    border-color:#ffdb66  ;
    border-radius: 10px;
    font-size: large;
    padding: 10px;
    text-align: center;
}
.input:hover {
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
    transform: scale(1.1);

}

#butt {
    border: 0;
    background-color: #ED0331;
    color: #FFFFFF;
    padding: 10px;
    font-family: 'Poppins', sans-serif;
    border-radius: 15px;
    margin-top: 50px;
    position: relative;
    left: 280px;

}
#butt:hover {
    cursor: pointer;

}

#state {
    text-align: center;
    font-family: 'Poppins', sans-serif;
    width: 100%;
    color: #0A0103;
}
